<?php
$title = 'Удалить статью?';
$this->headTitle($title);?>
<h1><?php echo $this->escapeHtml($title); ?></h1> 
<p>Вы точно хотите удалить статью
    '<?php echo $this->escapeHtml($page->title); ?>'
</p>
<?php
$url = $this->url('page', array(
    'action' => 'delete',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $id; ?>" />
    <input type="submit" name="del" value="Yes" />
    <input type="submit" name="del" value="No" />
</div>
</form>