<?php
$title = 'Мои статьи';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('page', array('action'=>'add'));?>">Добавить новую статью</a>
</p>
<table class="table">
<tr>
    <th>Название</th>
    <th>Содержание</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($pages as $page) : ?>
<tr>
    <td><?php echo $this->escapeHtml($page->title); echo " " . $this->escapeHtml($page->pub);?></td>
    <td><?php echo $this->escapeHtml($page->article);?></td>
    <td>
        <a href="<?php echo $this->url('page',
            array('action'=>'modify', 'id' => $page->id));?>">Редактировать</a>
        <a href="<?php echo $this->url('page',
            array('action'=>'delete', 'id' => $page->id));?>">Удалить</a>
    </td>
</tr>
<?php endforeach; ?>
</table>

