<?php
$title = 'Редактировать статью';
$this->headTitle($title);?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url(
    'page',
    array(
        'action' => 'modify',
        'id'     => $this->id,
     )
));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('title'));
echo "<br/>";
echo $this->formRow($form->get('article'));
echo "<br/>";
echo $this->formRow($form->get('Public'));
echo "<br/>";
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>