<h1>Blog</h1>

<?php foreach ($this->posts as $post): ?>
<article>
    <h1 id="<?php echo $post->getId() ?>"><?php echo $post->getTitle() ?></h1>
    <p>
        <?php echo $post->getText() ?>
    </p>
</article>
<?php endforeach ?>